body {
  margin: 0;
  text-align: center;
}

.count {
  margin-top: 20px;
  line-height: 1.2;
  font-weight: bold;
  font-size: 4em;
  color: #888;
}

.count p {
  margin: 0;
}

#on-game {
  display: none;
}

.wrap {
  margin-top: 20px;
  padding: 0px 40px;
  font-weight: bold;
  font-size: 6em;
  color: #fff;
  background-color: #666;
}

.typed {
  color: lightgreen;
}

.mistyped {
  background-color: red;
}

.start {
  margin-top: 20px;
  padding: 10px;
  font-weight: bold;
  font-size: 2em;
  border: solid 2px #666;
  background-color: rgb(240, 128, 128);
}
.start:hover {
  background-color: rgba(240, 128, 128, 0.8);
}
.start:action {
  background-color: rgb(240, 60, 60)
}

.letter-count {
  display: none;
  margin: 20px 0 0 0;
  font-size: 2em;
  color: #888;
}